.Title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;


    .title_h1 {
        color: var(--c950);
        font-size: var(--size-h1);
        font-weight: bold;
    }

    .description {
        color: var(--c950);
        font-size: var(--size-paragraph);
    }
}